{% extends './layout.html' %}
{% block content %}
<div class="container">
  <div class="row p-2">
    <div class="col-md-6 border">
      <div id="info-section" class="border-bottom p-2 m-0 h-100">
        <h5 class="card-title font-weight-bold">Ảnh từ thu được từ camera</h5>
        <p class="card-text font-weight-bold">Kết quả:</p>
        <video autoplay width="100%"></video>
      </div>
    </div>
    <div class="col-md-6 border p-0">
        <div id="info-section" class="border-bottom p-2 m-0 h-100">
          <h5 class="card-title font-weight-bold">Ảnh từ thu được từ server</h5>
          <p class="card-text font-weight-bold">Kết quả:</p>
          <img id="attendance-image" src='{{ img }}'
          onerror="this.onerror=null; this.src='./static/img/last_taken/null.jpg'" class="card-img result-image">
        </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-12 mt-2 mb-2 border">
      <div class="card-body">
        <h5 class="card-title">Mở camera:</h5>
        <p class="card-text">Vui lòng nhìn thẳng vào camera và nhấn nút chụp</p>
        <button class="btn btn-primary" id="capture-button">Mở camera</button>
        <button class="btn btn-primary" id="screenshot-button">Chụp ảnh</button>
        <button class="btn btn-danger" id="stop-button">Tắt camera</button>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  const aaa = {{ img|tojson }};
  console.log(aaa)
  const constraints = {
    video: true,
    audio: false,
  };
  let global_stream;
  const captureVideoButton = document.querySelector("#capture-button");
  const screenshotButton = document.querySelector("#screenshot-button");
  const stopButton = document.querySelector("#stop-button");
  const img = document.querySelector("img");
  const video = document.querySelector("video");
  const canvas = document.createElement("canvas");
  
  stopButton.onclick = function () {
    global_stream.getTracks()[0].stop();
  };

  captureVideoButton.onclick = function () {
    navigator.mediaDevices
      .getUserMedia(constraints)
      .then(handleSuccess)
      .catch(handleError);
  };
  
  screenshotButton.onclick = function() {
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    canvas.getContext("2d").drawImage(video, 0, 0);

    canvas.toBlob(function (blob) {
      const formData = new FormData();
      formData.append('data', blob);
      $.ajax({
        url: `http://${server}:5000/upload`,
        data: formData,
        processData: false,
        contentType: false,
        type: 'post',
        success: function(data) {
          $('#attendance-image').attr('src', `${data.img}#`+ new Date().getTime());
          if(data.status == "ok") {
            $('#current-attendance-status').text("Thành công");
          } 
          else {
            $('#current-attendance-status').text("Lỗi hệ thống, vui lòng thử lại");
          } 
        }
      });
    });
  };

  function handleSuccess(stream) {
    screenshotButton.disabled = false;
    global_stream = stream;
    video.srcObject = stream;
  }
  function handleError(error) {
    console.log(error);
  }
</script>
<script>
  $('#check-up-button').click(function () {
    $('#current-attendance-status').text("Đang xử lí")
    $(this).prop('disabled', true);
    $.ajax({
      url: `http://${server}:5000/upload`,
      type: 'post',
      success: function(data) {
        $('#check-up-button').prop('disabled', false);
        $('#current-attendance-id').text("");
        $('#current-attendance-name').text("");
        $('#attendance-image').attr('src', './static/img/last_taken/lastImg.jpg#'+ new Date().getTime());
        if(data.status == "ok") {
          $('#current-attendance-status').text("Thành công");
        } 
        else {
          // Result
          $('#current-attendance-status').text("Lỗi hệ thống, vui lòng thử lại");
        } 
      }
    });
  });
</script>
{% endblock %}
